:root {
    --color-primary: #f9d72f;
    --color-background: #e6e6e6;
    --color-task: #f7f7f7;
    --color-sucess: #36d39a;
    --color-warning: #fbbe23;
    --color-error: #f87171;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main_white);
    max-width: 1200px;
    margin: auto;
    /*centeralize items*/
}

#Top {
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5%;
    padding: 20px 20px;
    background-color: var(--color-background);
    border-radius: 16px;
}

#Top h1 {
    padding-top: 30px;
}

#top label,
input,
button {
    margin: 8px;
}

input {
    border: 1px var(--color-primary) solid;
    height: 35px;
    width: 400px;
    border-radius: 4px;
}

button {
    height: 40px;
    width: 90px;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--color-primary);
}

label {
    margin: 16px;
    width: 90px;
}

#secondRow,
#thirdRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
}

#New,
#dueDate {
    display: flex;
    flex-direction: row;
}

#deleteButton button {
    background-color: var(--color-error);
}

table {
    width: 100%;
    height: 30px;
    margin-top: 60px;
    border: solid 1px white;
    background-color: var(--color-task);
    border-radius: 8px;
}

thead td {
    background-color: gray;
}

table tr td {
    height: 25px;
    padding: 5px;
    text-align: center;
    max-width: 400px;
    flex-wrap: nowrap;
}

#id {
    background-color: var(--color-primary);
}

#Do {
    background-color: var(--color-sucess);
}

#Delete {
    background-color: var(--color-error);
}